.Rhistory
.DS_Store
.Rproj.user
.RData
.Ruserdata
.Rproj.user
BioLizardStyleR/.RData
BioLizardStyleR/.Rhistory
BioLizardStyleR/.Rproj.user
BioLizardStylePython/.idea/*
BioLizardStylePython/docs/_build/jupyter_execute
.idea
.venv

#pytest and unittest
.pytest_cache
__pycache__
result_images
.positai

# vscode
.vscode
