.Rhistory
.DS_Store
.Rproj.user
.RData
.Ruserdata
.Rproj.user
BioLizardStyleR/.RData
BioLizardStyleR/.Rhistory
BioLizardStyleR/.Rproj.user
BioLizardStylePython/.idea/*
.idea
.venv

#pytest and unittest
.pytest_cache
__pycache__
result_images